<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="ProductComponents" >
      <ComponentRef Id="MainAppShortcut" />
    </ComponentGroup>
    <DirectoryRef Id="INSTALLFOLDER" FileSource="..\src\bin\$(var.Configuration)\net5.0-windows\win-x64\publish\">
      <!-- Shortcut to main application -->
      <Component Id="MainAppShortcut" Guid="{ABFDE8D1-9146-4703-AC9D-FEFA2E8907BB}">
        <Shortcut Id="MainAppShortcut"
                  Name="!(loc.MyProductName)"
                  Target="[INSTALLFOLDER]Adeotek.DevToolbox.exe"
                  Directory="InstallProgramMenuFolder"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="icon.ico" />
        <!-- Our unique key for this component/shortcut -->
        <RegistryValue Id="RegShortcutKey" Root="HKCU" Key="SOFTWARE\!(loc.ProductNameFolder)" Name="Shortcut" Value="1" Type="integer" KeyPath="yes" />
        <!--Remove start menu items -->
        <RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder" On="uninstall" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
